.main-left-div{

  /*width: 25%;*/
}

.main-left-div__title{
  color:rgb(0, 128, 64);
  font-weight: bold;
}

.input-label{
  display: block;
  font-size:12px;
  padding-bottom:3px;
  font-weight: bold;
}

.input{
  padding:10px;
  border: 1px solid black;
  border-radius: 2px;
}

.city-container{
  background-color: rgba(205, 220, 57, 0.6);
  position: relative;
  cursor: pointer;
  padding: 1px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;

}

.mat-raised-button.mat-primary{
  background-color: rgb(205, 220, 57);
  margin-left: 10px;
  color: black;
}
.mat-form-field-wrapper{
  padding: 0 !important;
  margin-bottom: 0 !important;
}

.mat-input-element{
  color: black;
  }

.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    background-color: white;
  }


.mat-form-field{
    width: 60%;
    height:25px;
}
