<div class="main-left-div">
  <h3 class="main-left-div__title">Weather Forecast</h3>
  <div style="position:relative">
    <mat-form-field appearance="outline" >
     <mat-label>Type your city</mat-label>
     <input matInput placeholder="E.g. 'Madrid'" [(ngModel)]="city">
   </mat-form-field>
    <button mat-raised-button (click)="showCity()" color="primary" style="position:abolute; top: -6px;padding: 3px;"><b>Go!</b></button>
    <p *ngIf="errorText" style="background-color:rgb(204, 30, 30); padding:10px; border-radius:5px">{{errorText}}</p>
    <p *ngIf="repeatedText" style="background-color:rgb(204, 30, 30); padding:10px; border-radius:5px">{{repeatedText}}</p>
  </div>
  <div class="list-div" >
    <h5 *ngIf="foundCities.length > 0">List of selections:</h5>
    <h5 *ngIf="foundCities.length === 0">You haven't looked for any city yet.</h5>
    <div *ngFor="let city of foundCities; let i = index" class="city-container">
      <ul>
        <li>
          {{city.city}}<span style="position:absolute; right: 15px;"(click)="removeCity(i)">X</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0, 128, 64, 0.5)',
        primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff' }" [template]="customLoadingTemplate"></ngx-loading>
