<div class="main-container">
  <div style="border-right: 1px solid grey; padding:15px; background-color: rgba(137, 178, 244, 0.2)">
    <app-search-bar (citiesEmitter)="checkCities($event)"></app-search-bar>
  </div>
  <div *ngIf="foundCities.length > 0" style="max-width: 575px;">
    <mat-tab-group style="display:inline; width:60%" [selectedIndex]="selectedTab">
      <mat-tab *ngFor="let city of foundCities; let i = index" ScrollDirection="left" >
        <ng-template mat-tab-label style="position:relative">
          {{city.city}}
           <i class="material-icons close-icon" (click)="removeTab(i)">highlight_off</i>
        </ng-template>
        <div class="temperatures-container">
          <h4><b>Today</b></h4>
          <div style="display:flex; flex-direction:row">
            <img src={{city.todayIcon}} alt="">
            <div>
              <p>Mx: {{city.todayMax}} Cº</p>
              <p>Mn: {{city.todayMin}} Cº</p>
            </div>
          </div>
          <h4><b>Tomorrow</b></h4>
          <div style="display:flex; flex-direction:row">
            <img src={{city.tomorrowIcon}} alt="">
            <div>
              <p>Mx: {{city.tomorrowMax}} Cº</p>
              <p>Mn: {{city.tomorrowMin}} Cº</p>
            </div>
          </div>
          <h4><b>In two days</b></h4>
          <div  style="display:flex; flex-direction:row">
            <img src={{city.thirdIcon}} alt="">
            <div>
              <p>Mx: {{city.thirdMax}} Cº</p>
              <p>Mn: {{city.thirdMin}} Cº</p>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="foundCities.length === 0">
    <p class="nocity-text">Type the city you want to check in the left input</p>
  <div>
</div>
