.example-tab-icon {
  margin-right: 8px;
}

.main-container{
  background-color: white;
  display:flex;
  flex-direction: row;
  margin: 5% 10%;
  border: 2px solid grey;
  border-radius: 5px;
  box-sizing: border-box;
}


.temperatures-container{
  background-color: rgba(66, 185, 244, 0.1);
  padding: 10px;
  height: auto;
  padding-left: 20px;
  line-height: 5px;
}

.nocity-text{
  margin-left: 10px;
}


.close-icon{
  position:absolute;
  right: 0px;
  top:12px
}
