/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

$primary: mat-palette($mat-lime, 500);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$config: mat-typography-config();


$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0 auto;
  background-image: url('./assets/sunny-day.jpg');
  background-size: cover;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

.mat-form-field-appearance-outline .mat-form-field-infix{
  padding: 10px;
}

.mat-form-field-wrapper{
  background-color: white;
  padding: 0;
  border-radius: 5px;
}


.mat-tab-label{
  font-weight: bold;
  font-size: 18px;
}

.mat-tab-label, /deep/.mat-tab-label-active{
width: 75%;
}

// .mat-form-field-appearance-outline .mat-form-field-label{
//   top:23px
// }
